<!--/*
    HTML NAV
  */-->

<html lang="en" xmlns:th="Http:thymeleaf.org">
	<body>
		<nav class="navbar navbar-expand-xl navbar-dark" th:fragment="navFragment" style="background-color: #808080;">
			<div class="container-fluid">
			    <div class="navbar-header">
			    	<a href="/" class="logo-link">
			    		<img title="Home Page" src="/images/home.jpg" alt="Home" class="navbar-brand" height="35px" width="35px" />
					</a>
			    </div>
			    <ul class="nav navbar-nav mr-auto">
			    	<li class="navbar-item"><a class="nav-link" href="/disney/" Style="color: black"><span>Disney Dwarfs</span></a></li>
			    	<li class="navbar-item"><a class="nav-link" href="/tolkien/" Style="color: black"><span>Tolkien Dwarves</span></a></li>
			    </ul>
			</div>
		</nav>
	</body>
</html>