<!DOCTYPE html>

<html lang="en-GB">
	<head>
		<title>Tolkien Dwarves</title>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="../static/css/Style.css" />
		
		<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body class="content">
		<header class="jumbotron text-center">
			<h1>Tolkien Dwarves</h1>
			<h2>The Company of Thorin</h2>
		</header>
		<section>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Dwarve</th>
						<th>Photo</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Torin</td>
						<td><img class="image" src="../static/images/TheCompanyOfThorin/thorin.jpg" alt="Thorin" /></td>
					</tr>
				</tbody>
			</table>
		</section>
		<footer>
			<div class="row">
				<div class="col-sm-4 left">&copy; Peter Wightman 2017</div>
				<div class="col-sm-4 center">Contact: <a href="mailto:wig10002179@belfastmet.ac.uk">Email</a></div>
				<div class="col-sm-4 right">Version 1.0 (28/11/2017)</div>
			</div>
		</footer>
	</body>
</html>