/* 
	Neueda Tech Academy
	CSS Style Sheet
*/

/* Center Page on Screen */

.content 
{
	background-color: Black;
	max-width: 1000px;
    margin: auto;
    padding: 10px;
}

/* HTML Elements */

body
{
	font-family: Calibri, Arial, Verdana;
	color: White;
    background-color: White;
}

.row:after
{
    content: "";
    display: table;
    clear: both;
}

.left
{
	text-align: left;
	font-size: 12px;
	padding-left: 35px;
}

.center
{
	text-align: center;
	font-size: 12px;
}

.right
{
	text-align: right;
	font-size: 12px;
	padding-right: 35px;
}

table 
{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th 
{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) 
{
    background-color: #dddddd;
}

.image
{
	width: 100px;
	height: 100px;
}

/* Headings */

h1, h2, h3, h4, h5, h6
{
	color: BLACK;
}