<!DOCTYPE html>

<html lang="en" xmlns:th="Http:thymeleaf.org">
	<head th:replace="layouts/header :: headFragment"></head>
	<body class="content">
		<header class="jumbotron text-center pinkFloydHeadImage">
			<div class="transparent2">
				<h1 class="text-center text-white"><b>Pink Floyd</b></h1>
				<h2 class="text-center text-white"><b>Albums</b></h2>
				<h3 class="text-center text-white"><b>Studio and Live</b></h3>
			</div>
		</header>
		<nav th:replace="layouts/nav :: navFragment"></nav>
		<br />
		<section>
			<div class="container">
				<!-- ROW 1 -->
				<div class="row">
			    	<div class="col center">
			    		<h6 class="text-center text-white">The Piper At The Gates Of Dawn</h6>
			    		<a class="btn" href="/pinkfloyd/albums/thepiperatthegatesofdawn/">
			    			<button type="button" name="pinkFloydThePiperAtTheGatesOfDawn" >
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-ThePiperAtTheGatesOfDawn.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col center">
			    		<h6 class="text-center text-white">A Saucerful Of Secrets</h6>
			    		<a class="btn" href="/pinkfloyd/albums/asaucerfulofsecrets/">
				    		<button type="button" name="pinkFloydASaucerfulOfSecrets">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-ASaucerfulOfSecrets.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col center">
			    		<h6 class="text-center text-white">More</h6>
			    		<a class="btn" href="/pinkfloyd/albums/more/">
				    		<button type="button" name="pinkFloydMore">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-More.jpg" />
							</button>
						</a>
			    	</div>
				</div>
				<br />
				<!-- ROW 2 -->
				<div class="row">
			    	<div class="col">
			    		<h6 class="text-center text-white">Ummagumma</h6>
			    		<a class="btn" href="/pinkfloyd/albums/ummagumma/">
				    		<button type="button" name="pinkFloydUmmagumma">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-Ummagumma.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col">
			    		<h6 class="text-center text-white">Atom Heart Mother</h6>
			    		<a class="btn" href="/pinkfloyd/albums/atomheartmother/">
				    		<button type="button" name="pinkFloydAtomHeartMother">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-AtomHeartMother.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col">
			    		<h6 class="text-center text-white">Meddle</h6>
			    		<a class="btn" href="/pinkfloyd/albums/meddle/">
				    		<button type="button" name="pinkFloydMeddle">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-Meddle.jpg" />
							</button>
						</a>
			    	</div>
			    </div>
			    <br />
			    <!-- ROW 3 -->
			    <div class="row">
			    	<div class="col">
			    		<h6 class="text-center text-white">Obscured By Clouds</h6>
			    		<a class="btn" href="/pinkfloyd/albums/obscuredbyclouds/">
				    		<button type="button" name="pinkFloydObscuredByClouds">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-ObscuredByClouds.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col">
			    		<h6 class="text-center text-white">The Dark Side Of The Moon</h6>
			    		<a class="btn" href="/pinkfloyd/albums/thedarksideofthemoon/">
				    		<button type="button" name="pinkFloydTheDarkSideOfTheMoon">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-TheDarkSideOfTheMoon.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col">
			    		<h6 class="text-center text-white">Wish You Were Here</h6>
			    		<a class="btn" href="/pinkfloyd/albums/wishyouwerehere/">
				    		<button type="button" name="pinkFloydWishYouWereHere">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-WishYouWereHere.jpg" />
							</button>
						</a>
			    	</div>
			    </div>
			    <br />
			    <!-- ROW 4 -->
			    <div class="row">
			    	<div class="col">
			    		<h6 class="text-center text-white">Animals</h6>
			    		<a class="btn" href="/pinkfloyd/albums/animals/">
				    		<button type="button" name="pinkFloydAnimals">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-Animals.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col">
			    		<h6 class="text-center text-white">The Wall</h6>
			    		<a class="btn" href="/pinkfloyd/albums/thewall/">
				    		<button type="button" name="pinkFloydTheWall">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-TheWall.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col">
			    		<h6 class="text-center text-white">The Final Cut</h6>
			    		<a class="btn" href="/pinkfloyd/albums/thefinalcut/">
				    		<button type="button" name="pinkFloydTheFinalCut">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-TheFinalCut.jpg" />
							</button>
						</a>
			    	</div>
			    </div>
			    <br />
			    <!-- ROW 5 -->
			    <div class="row">
			    	<div class="col">
			    		<h6 class="text-center text-white">A Momentary Lapse Of Reason</h6>
			    		<a class="btn" href="/pinkfloyd/albums/amomentarylapseofreason/">
				    		<button type="button" name="pinkFloydAMomentaryLapseOfReason">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-AMomentaryLapseOfReason.jpg" />
							</button>
						</a>
			    	</div>
					<div class="col">
				    	<h6 class="text-center text-white">Delicate Sound Of Thunder</h6>
				    	<a class="btn" href="/pinkfloyd/albums/delicatesoundofthunder/">
					    	<button type="button" name="pinkFloydDelicateSoundOfThunder">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-DelicateSoundOfThunder.jpg" />
							</button>
						</a>
					</div>
					<div class="col">
				    	<h6 class="text-center text-white">The Division Bell</h6>
				    	<a class="btn" href="/pinkfloyd/albums/thedivisionbell/">
					    	<button type="button" name="pinkFloydTheDivisionBell">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-TheDivisionBell.jpg" />
							</button>
						</a>
					</div>
				</div>
				<br />
				<!-- ROW 6 -->
			    <div class="row">
			    	<div class="col">
			    		<h6 class="text-center text-white">Pulse</h6>
			    		<a class="btn" href="/pinkfloyd/albums/pulse/">
				    		<button type="button" name="pinkFloydPulse">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-Pulse.jpg" />
							</button>
						</a>
					</div>
					<div class="col">
			    		<h6 class="text-center text-white">Is There Anybody Out There</h6>
			    		<a class="btn" href="/pinkfloyd/albums/isthereanybodyouttherethewalllive/">
				    		<button type="button" name="pinkFloydIsThereAnybodyOutThereTheWallLive">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-IsThereAnybodyOutThereTheWallLive.jpg" />
							</button>
						</a>
					</div>
					<div class="col">
			    		<h6 class="text-center text-white">The Endless River</h6>
			    		<a class="btn" href="/pinkfloyd/albums/theendlessriver/">
				    		<button type="button" name="pinkFloydTheEndlessRiver">
								<img src="/images/albumCovers/PinkFloyd/PinkFloyd-TheEndlessRiver.jpg" />
							</button>
						</a>
					</div>
				</div>
			</div>
		</section>
		<br />
		<footer th:replace="layouts/footer :: footFragment"></footer>
		<br />
	</body>
</html>