<!DOCTYPE html>

<html lang="en" xmlns:th="Http:thymeleaf.org">
	<head th:replace="layouts/header :: headFragment"></head>
	<body class="content">
		<header class="jumbotron text-center pinkFloydHeadImage">
			<div class="transparent2">
				<h1 class="text-center text-white"><b>Pink Floyd</b></h1>
				<h2 class="text-center text-white"><b>Media</b></h2>
				<h3 class="text-center text-white"><b>Video</b></h3>
			</div>
		</header>
		<nav th:replace="layouts/nav :: navFragment"></nav>
		<br />
		<section>
			<h4 class="text-center text-white">Live 8 Reunion 2nd July 2005</h4>
			<div class="text-center">
				<iframe width="800" height="450" src="https://www.youtube.com/embed/Twb65Ov67ZA"></iframe>
			</div>
			<h4 class="text-center text-white">One Of These Days</h4>
			<div class="text-center text-white">
				<iframe width="800" height="450" src="https://www.youtube.com/embed/D1kZ6M2aMvw"></iframe>
			</div>
			<h4 class="text-center text-white">Run Like Hell (Pulse) (Live)</h4>
			<div class="text-center text-white">
				<iframe width="800" height="450" src="https://www.youtube.com/embed/G2n9_AmDTqY"></iframe>
			</div>
			<h4 class="text-center text-white">Money</h4>
			<div class="text-center text-white">
				<iframe width="800" height="450" src="https://www.youtube.com/embed/-0kcet4aPpQ"></iframe>
			</div>
			<div>			
		</div>
		</section>
		<br />
		<footer th:replace="layouts/footer :: footFragment"></footer>
		<br />
	</body>
</html>