<!DOCTYPE html>

<html lang="en" xmlns:th="Http:thymeleaf.org">
	<head th:replace="layouts/header :: headFragment"></head>
	<body class="content">
		<header class="jumbotron text-center spacemen3HeadImage">
			<div class="transparent">
				<h1 class="text-center text-white"><b>Spacemen 3</b></h1>
				<h2 class="text-center text-white"><b>Albums</b></h2>
				<h3 class="text-center text-white"><b>Studio and Live</b></h3>
			</div>
		</header>
		<nav th:replace="layouts/nav :: navFragment"></nav>
		<br />
		<section>
			<div class="container">
				<!-- ROW 1 -->
				<div class="row">
			    	<div class="col center blackBackGround">
			    		<h6 class="text-center text-white">Sound Of Confusion</h6>
			    		<a class="btn" href="/spacemen3/albums/soundofconfusion/">
			    			<button class="blackBackGround" type="button" name="spacemen3SoundOfConfusion" >
								<img src="/images/albumCovers/Spacemen3/Spacemen3-SoundOfConfusion.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col center blackBackGround">
			    		<h6 class="text-center text-white">The Perfect Prescription</h6>
			    		<a class="btn" href="/spacemen3/albums/theperfectprescription/">
				    		<button class="blackBackGround" type="button" name="spacemen3ThePerfectPrescription">
								<img src="/images/albumCovers/Spacemen3/Spacemen3-ThePerfectPrescription.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col center blackBackGround">
			    		<h6 class="text-center text-white">Playing With Fire</h6>
			    		<a class="btn" href="/spacemen3/albums/playingwithfire/">
				    		<button class="blackBackGround" type="button" name="spacemen3PlayingWithFire">
								<img src="/images/albumCovers/Spacemen3/Spacemen3-PlayingWithFire.jpg" />
							</button>
						</a>
			    	</div>
				</div>
				<br />
				<!-- ROW 2 -->
				<div class="row">
			    	<div class="col center blackBackGround">
			    		<h6 class="text-center text-white">Live In Europe 1989</h6>
			    		<a class="btn" href="/spacemen3/albums/liveineurope1989/">
				    		<button class="blackBackGround" type="button" name="spacemen3LiveInEurope1989">
								<img src="/images/albumCovers/Spacemen3/Spacemen3-LiveInEurope1989.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col center blackBackGround">
			    		<h6 class="text-center text-white">Recurring</h6>
			    		<a class="btn" href="/spacemen3/albums/recurring/">
				    		<button class="blackBackGround" type="button" name="spacemen3Recurring">
								<img src="/images/albumCovers/Spacemen3/Spacemen3-Recurring.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col center blackBackGround">
			    		<h6 class="text-center text-white">Dreamweapon</h6>
			    		<a class="btn" href="/spacemen3/albums/dreamweapon/">
				    		<button class="blackBackGround" type="button" name="spacemen3Dreamweapon">
								<img src="/images/albumCovers/Spacemen3/Spacemen3-Dreamweapon.jpg" />
							</button>
						</a>
			    	</div>
			    </div>
			</div>
		</section>
		<br />
		<footer th:replace="layouts/footer :: footFragment"></footer>
		<br />
	</body>
</html>