<!DOCTYPE html>

<html lang="en" xmlns:th="Http:thymeleaf.org">
	<head th:replace="layouts/header :: headFragment"></head>
	<body class="content">
		<header class="jumbotron text-center homeHeadImage">
			<div class="transparent">
				<h1 class="text-white"><b>Renewable Heat Incentive</b></h1>
				<h2 class="text-white" th:text="${pageTitle}"><b>Beneficiaries</b></h2>
			</div>
		</header>
		<nav th:replace="layouts/nav :: navFragment"></nav>
		<br />
		<section>
			<h4 class="text-center text-white">Search Beneficiaries</h4>
			<div class="container">
				<form class="text-center" action="/rhib/result" method="post" id="searchForm">
					<select class="col-sm-2" form="searchForm" name="searchField">
						<option value="name">Name</option>
					</select>
					<input type="text" class="col-sm-6" name="searchString" form="searchForm"></input>
					<button type="submit" value="search" form="searchForm" class="btn btn-light col-sm-2">Search</button>
				</form>
			</div>
			<br />
			<h3 class="text-center text-white">Beneficiary Search Results</h3>
			<table class="table table-striped">
				<thead>
					<tr class="text-white">
						<th>ID</th>
						<th>Name</th>
						<th>Application Date</th>
						<th>Location</th>
						<th>Technology Type</th>
						<th>Capacity</th>
						<th>Payment</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-white" th:each="beneficiary : ${beneficiaries}">
						<td th:text="${beneficiary.rhibId}"></td>
						<td th:text="${beneficiary.rhibName}"></td>
						<td th:text="${beneficiary.applicationDate}"></td>
						<td th:text="${beneficiary.location}"></td>
						<td th:text="${beneficiary.techType}"></td>
						<td th:text="${beneficiary.capacity}"></td>
						<td th:text="${beneficiary.paymentAmount}"></td>
					</tr>
				</tbody>
			</table>
		</section>
		<br />
		<footer th:replace="layouts/footer :: footFragment"></footer>
		<br />
	</body>
</html>