<!DOCTYPE html>

<html lang="en" xmlns:th="Http:thymeleaf.org">
	<head th:replace="layouts/header :: headFragment"></head>
	<body class="content">
		<header class="jumbotron greyBackGround">
			<h1 class="text-center text-black">Titanic Passenger Lists</h1>
			<h2 th:text="${pageTitle}" class="text-center text-black">Passenger Title</h2>
		</header>
		<nav th:replace="layouts/nav :: navFragment"></nav>
		<br />
		<section>
			<h3 class="text-center text-white">Listing Of Titanic Passengers</h3>
			<table class="table table-striped">
				<thead>
					<tr class="text-white">
						<th>ID</th>
						<th>Survived</th>
						<th>Class</th>
						<th>Name</th>
						<th>Sex</th>
						<th>Age</th>
						<th>SibSp</th>
						<th>Parch</th>
						<th>Ticket</th>
						<th>Fare</th>
						<th>Cabin</th>
						<th>Embarked</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-white" th:each="passenger : ${passengers}">
						<td th:text="${passenger.passengerId}"></td>
						<td th:text="${passenger.survived}"></td>
						<td th:text="${passenger.pClass}"></td>
						<td th:text="${passenger.name}"></td>
						<td th:text="${passenger.sex}"></td>
						<td th:text="${passenger.age}"></td>
						<td th:text="${passenger.sibSp}"></td>
						<td th:text="${passenger.parch}"></td>
						<td th:text="${passenger.ticket}"></td>
						<td th:text="${passenger.fare}"></td>
						<td th:text="${passenger.cabin}"></td>
						<td th:text="${passenger.embarked}"></td>
					</tr>
				</tbody>
			</table>
		</section>
		<br />
		<footer th:replace="layouts/footer :: footFragment"></footer>
		<br />
	</body>
</html>