<!DOCTYPE html>

<html lang="en" xmlns:th="Http:thymeleaf.org">
	<head th:replace="layouts/header :: headFragment"></head>
	<body class="content">
		<header class="jumbotron text-center" style="background-color: #808080;">
			<h1>Largest Buildings</h1>
			<h2>Floor Area</h2>
		</header>
		<nav th:replace="layouts/nav :: navFragment"></nav>
		<br />
		<section>
			<h3 class="text-center">Largest Buildings By Floor Area</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Country</th>
						<th>Place</th>
						<th>Floor Area</th>
						<th>Photo</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="building : ${areaBuildings}">
						<td th:text="${building.name}">Building Name</td>
						<td th:text="${building.country}">Country</td>
						<td th:text="${building.place}">Place</td>
						<td th:text="${building.floorArea}">Floor Area</td>
						<td><img class="image" th:src="@{/} + ${building.image}" /></td>
					</tr>
				</tbody>
			</table>
		</section>
		<br />
		<footer th:replace="layouts/footer :: footFragment"></footer>
		<br />
	</body>
</html>