<!DOCTYPE html>

<html lang="en" xmlns:th="Http:thymeleaf.org">
	<head th:replace="layouts/header :: headFragment"></head>
	<body class="content">
		<header class="jumbotron text-center homeHeadImage">
			<div class="transparent">
				<h1 class="text-center text-white" th:text="${pageTitle1}"><b></b></h1>
				<h2 class="text-center text-white" th:text="${pageTitle2}"><b></b></h2>
				<h3 class="text-center text-white" th:text="${pageTitle3}"><b></b></h3>
			</div>
		</header>
		<nav th:replace="layouts/nav :: navFragment"></nav>
		<br />
		<section>
			<h4 class="text-center text-white"><b>Album Details</b></h4>
			<br />
			<div class="container">
				<form class="form-horizontal" th:action="@{/variousartists/albums/crud/save/}" th:object="${album}" method="post">
					<!-- hidden field is important! -->
					<input type="hidden" th:field="${album.albumId}" />
					
					<div class="row">
				    	<div class="col-6">
							<label class="text-white">Select Band:</label>
							<br />
							<select id="ddlBand" class="form-control btn btn-light dropdown-toggle dropdown-toggle-split text-left" data-toggle="dropdown" th:field="${album.band.bandId}">
								<option class="dropdown-item" th:each="band : ${bands}"
															  th:text="${band.bandName}"
															  th:value="${band.bandId}">
								</option>
	    					</select>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-3">
				    		<label class="text-white">Released: <input class="form-control" type="text" name="releaseYear" th:field="${album.releaseYear}" /></label>
						</div>
				    	<div class="col-3" data-toggle="checked">
							<label class="text-white" for="isLive">Is Live?</label>
							<br />
							<input class="text-white" th:checked="${album.isLive}" type="checkbox" name="isLive" />
						</div>
					</div>
					<br />
					<div class="row">
				    	<div class="col-6">
							<label class="text-white">Album Title:</label>
							<br />
							<input class="form-control" type="text" name="albumTitle" th:field="${album.albumTitle}" />
				    	</div>
				    	<div class="col-6">
							<label class="text-white">Album Title (Lower):</label>
							<br />
							<input class="form-control" type="text" name="albumTitleLower" th:field="${album.albumTitleLower}" />
				    	</div>
				    </div>
				    
				    <br />
				    <div class="row">
				    	<div class="col-12">
				    		<label class="text-white">Artwork (Hi Res):</label>
				    		<br />
				    		<input class="form-control" type="text" name="albumArtLarge" th:field="${album.albumArtLarge}" />
						</div>
					</div>
					<br />
				    <div class="row">
				    	<div class="col-12">
							<label class="text-white">Artwork:</label>
							<br />
							<input class="form-control" type="text" name="albumArtSmall" th:field="${album.albumArtSmall}" />
				    	</div>
				    </div>
				    <br />
				    <div class="row">
				    	<div class="col-3">
				    		<button type="submit" class="btn btn-default">Save</button>
				    	</div>
				    </div>
				</form>
			</div>
		</section>
		<br />
		<footer th:replace="layouts/footer :: footFragment"></footer>
		<br />
	</body>
</html>