<!DOCTYPE html>

<html lang="en" xmlns:th="Http:thymeleaf.org">
	<head th:replace="layouts/header :: headFragment"></head>
	<body class="content">
		<header class="jumbotron text-center homeHeadImage">
			<div class="transparent">
				<h1 class="text-center text-white" th:text="${pageTitle1}"><b></b></h1>
				<h2 class="text-center text-white" th:text="${pageTitle2}"><b></b></h2>
				<h3 class="text-center text-white" th:text="${pageTitle3}"><b></b></h3>
			</div>
		</header>
		<nav th:replace="layouts/nav :: navFragment"></nav>
		<br />
		<section>
			<h3 class="text-center text-white">All Albums List</h3>
			<table class="table table-striped">
				<thead>
					<tr class="text-white">
						<th>Title</th>
						<th>Band</th>
						<th>Released</th>
						<th>View</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-white" th:each="album : ${albums}">
						<td th:text="${album.albumTitle}"></td>
						<td th:text="${album.Band.bandName}"></td>
						<td th:text="${album.releaseYear}"></td>
						<td>
							<a class="btn btn-light fsSmall" th:href="@{view/} + ${album.albumTitleLower} + @{/}"><b>View</b></a>
						</td>
						<td>
							<a class="btn btn-light fsSmall" th:href="@{edit/} + ${album.albumTitleLower} + @{/}"><b>Edit</b></a> 
						</td>
						<td>
							<a class="btn btn-light fsSmall" th:href="@{delete/} + ${album.albumId} + @{/}"><b>Delete</b></a>
						</td>
					</tr>
				</tbody>
			</table>
		</section>
		<br />
		<footer th:replace="layouts/footer :: footFragment"></footer>
		<br />
	</body>
</html>