<!DOCTYPE html>

<html lang="en" xmlns:th="Http:thymeleaf.org">
	<head th:replace="layouts/header :: headFragment"></head>
	<body class="content">
		<header class="jumbotron text-center homeHeadImage">
			<div class="transparent">
				<h1 class="text-center text-white" th:text="${pageTitle1}"><b></b></h1>
				<h2 class="text-center text-white" th:text="${pageTitle2}"><b></b></h2>
				<h3 class="text-center text-white" th:text="${pageTitle3}"><b></b></h3>
			</div>
		</header>
		<nav th:replace="layouts/nav :: navFragment"></nav>
		<br />
		<section>
			<h4 class="text-center text-white"><b>Album Details</b></h4>
			<br />
			<div class="container">
				<form class="form-horizontal" th:action="@{/bands/crud/save/}" th:object="${band}" method="post">
					<!-- hidden field is important! -->
					<input type="hidden" th:field="${band.bandId}" />
					
					<div class="row">
				    	<div class="col-6">
							<label class="text-white">Band:</label>
							<br />
							<input class="form-control" type="text" name="bandName" th:field="${band.bandName}" />
				    	</div>
				    	<div class="col-6">
							<label class="text-white">Band (Lower):</label>
							<br />
							<input class="form-control" type="text" name="bandNameLower" th:field="${band.bandNameLower}" />
				    	</div>
				    </div>
				    <br />
				    <div class="row">
				    	<div class="col-12">
							<label class="text-white">Origin:</label>
							<br />
							<input class="form-control" type="text" name="bandOrigin" th:field="${band.origin}" />
				    	</div>
				    	 </div>
				    <br />
				    <div class="row">
				    	<div class="col-12">
							<label class="text-white">Website:</label>
							<br />
							<input class="form-control" type="text" name="bandWebsite" th:field="${band.website}" />
				    	</div>
				    </div>
				    <br />
				    <div class="row">
				    	<div class="col-3">
				    		<button type="submit" class="btn btn-default">Save</button>
				    	</div>
				    </div>
				</form>
			</div>
		</section>
		<br />
		<footer th:replace="layouts/footer :: footFragment"></footer>
		<br />
	</body>
</html>