<!DOCTYPE html>

<html lang="en" xmlns:th="Http:thymeleaf.org">
	<head th:replace="layouts/header :: headFragment"></head>
	<body class="content">
		<header class="jumbotron text-center brmcHeadImage">
			<div class="transparent">
				<h1 class="text-center text-white"><b>Black Rebel Motorcycle Club</b></h1>
				<h2 class="text-center text-white"><b>Albums</b></h2>
				<h3 class="text-center text-white"><b>Studio and Live</b></h3>
			</div>
		</header>
		<nav th:replace="layouts/nav :: navFragment"></nav>
		<br />
		<section>
			<div class="container">
				<!-- ROW 1 -->
				<div class="row">
			    	<div class="col-4">
			    		<h6 class="text-center text-white">Demos 1999</h6>
			    		<a class="btn" href="/brmc/albums/demos/">
			    			<button class="blackBackGround" type="button" name="brmcDemos">
								<img src="/images/albumCovers/BRMC/BRMC-Demos.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col-4">
			    		<h6 class="text-center text-white">Screaming Gun</h6>
			    		<a class="btn" href="/brmc/albums/screaminggun/">
				    		<button class="blackBackGround" type="button" name="brmcScreamingGun">
								<img src="/images/albumCovers/BRMC/BRMC-ScreamingGun.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col-4">
			    		<h6 class="text-center text-white">BRMC</h6>
			    		<a class="btn" href="/brmc/albums/brmc/">
				    		<button class="blackBackGround" type="button" name="brmcBlackRebelMotorcycleClub">
								<img src="/images/albumCovers/BRMC/BRMC-BlackRebelMotorcycleClub.jpg" />
							</button>
						</a>
			    	</div>
			    </div>
				<br />
				<!-- ROW 2 -->
				<div class="row">
					<div class="col-4">
			    		<h6 class="text-center text-white">Take Them On, On Your Own</h6>
			    		<a class="btn" href="/brmc/albums/takethemononyourown/">
				    		<button class="blackBackGround" type="button" name="brmcTakeThemOnOnYourOwn">
								<img src="/images/albumCovers/BRMC/BRMC-TakeThemOnOnYourOwn.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col-4">
			    		<h6 class="text-center text-white">For Murder</h6>
			    		<a class="btn" href="/brmc/albums/formurder/">
				    		<button class="blackBackGround" type="button" name="brmcForMurder">
								<img src="/images/albumCovers/BRMC/BRMC-ForMurder.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col-4">
			    		<h6 class="text-center text-white">Howl</h6>
			    		<a class="btn" href="/brmc/albums/howl/">
				    		<button class="blackBackGround" type="button" name="brmcHowl">
								<img src="/images/albumCovers/BRMC/BRMC-Howl.jpg" />
							</button>
						</a>
			    	</div>
			    </div>
			    <br />
			    <!-- ROW 3 -->
			    <div class="row">
			    	<div class="col-4">
			    		<h6 class="text-center text-white">Howl Sessions</h6>
			    		<a class="btn" href="/brmc/albums/howlsessions/">
				    		<button class="blackBackGround" type="button" name="brmcHowlSessions">
								<img src="/images/albumCovers/BRMC/BRMC-HowlSessions.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col-4">
			    		<h6 class="text-center text-white">Baby 81</h6>
			    		<a class="btn" href="/brmc/albums/baby81/">
				    		<button class="blackBackGround" type="button" name="brmcBaby81">
								<img src="/images/albumCovers/BRMC/BRMC-Baby81.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col-4">
			    		<h6 class="text-center text-white">American X Baby 81 Sessions</h6>
			    		<a class="btn" href="/brmc/albums/americanxbaby81sessions/">
				    		<button class="blackBackGround" type="button" name="brmcAmericanXBaby81Sessions">
								<img src="/images/albumCovers/BRMC/BRMC-AmericanXBaby81Sessions.jpg" />
							</button>
						</a>
			    	</div>
			    </div>
			    <br />
			    <!-- ROW 4 -->
			    <div class="row">
			    	<div class="col-4">
			    		<h6 class="text-center text-white">The Effects Of 333</h6>
			    		<a class="btn" href="/brmc/albums/theeffectsof333/">
				    		<button class="blackBackGround" type="button" name="brmcLive">
								<img src="/images/albumCovers/BRMC/BRMC-TheEffectsOf333.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col-4">
			    		<h6 class="text-center text-white">Live</h6>
			    		<a class="btn" href="/brmc/albums/live/">
				    		<button class="blackBackGround" type="button" name="brmcLive">
								<img src="/images/albumCovers/BRMC/BRMC-Live.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col-4">
			    		<h6 class="text-center text-white">Beat The Devils Tattoo</h6>
			    		<a class="btn" href="/brmc/albums/beatthedevilstattoo/">
				    		<button class="blackBackGround" type="button" name="brmcBeatTheDevilsTattoo">
								<img src="/images/albumCovers/BRMC/BRMC-BeatTheDevilsTattoo.jpg" />
							</button>
						</a>
			    	</div>
			    </div>
			    <br />
			    <!-- ROW 5 -->
			    <div class="row">
			    	<div class="col-4">
			    		<h6 class="text-center text-white">Live In London</h6>
			    		<a class="btn" href="/brmc/albums/liveinlondon/">
				    		<button class="blackBackGround" type="button" name="brmcLiveInLondon">
								<img src="/images/albumCovers/BRMC/BRMC-LiveInLondon.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col-4">
			    		<h6 class="text-center text-white">Specter At The Feast</h6>
			    		<a class="btn" href="/brmc/albums/specteratthefeast/">
				    		<button class="blackBackGround" type="button" name="brmcSpecterAtTheFeast">
								<img src="/images/albumCovers/BRMC/BRMC-SpecterAtTheFeast.jpg" />
							</button>
						</a>
			    	</div>
			    	<div class="col-4">
			    		<h6 class="text-center text-white">Live In Paris</h6>
			    		<a class="btn" href="/brmc/albums/liveinparis/">
				    		<button class="blackBackGround" type="button" name="brmcLiveInParis">
								<img src="/images/albumCovers/BRMC/BRMC-LiveInParis.jpg" />
							</button>
						</a>
			    	</div>
			    </div>
			    <br />
			    <!-- ROW 6 -->
			    <div class="row">
			    	<div class="col-4">
			    		<h6 class="text-center text-white">Wrong Creatures</h6>
			    		<a class="btn" href="/brmc/albums/wrongcreatures/">
				    		<button class="blackBackGround" type="button" name="brmcWrongCreatures">
								<img src="/images/albumCovers/BRMC/BRMC-WrongCreatures.jpg" />
							</button>
						</a>
			    	</div>
				</div>
			</div>
		</section>
		<br />
		<footer th:replace="layouts/footer :: footFragment"></footer>
		<br />
	</body>
</html>