<!DOCTYPE html>

<html lang="en" xmlns:th="Http:thymeleaf.org">
	<head th:replace="layouts/header :: headFragment"></head>
	<body class="content">
		<header class="jumbotron text-center homeHeadImage">
			<div class="transparent">
				<h1 class="text-center text-white" th:text="${pageTitle1}"><b></b></h1>
				<h2 class="text-center text-white" th:text="${pageTitle2}"><b></b></h2>
				<h3 class="text-center text-white" th:text="${pageTitle3}"><b></b></h3>
			</div>
		</header>
		<nav th:replace="layouts/nav :: navFragment"></nav>
		<br />
		<section>
			<div class="alert alert-success" role="alert" th:if="${message}">
				<p th:text="${message}"></p>
			</div>
			<h3 class="text-center text-white">Genres List</h3>
			<table class="table table-striped">
				<thead>
					<tr class="text-white">
						<th>Name</th>
						<th>View</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>
				<tbody>
					<tr class="text-white" th:each="genre : ${genres}">
						<td th:text="${genre.genreName}"></td>
						<td class="crudButtonTdWidth">
							<a class="btn btn-light fsSmall crudButtonWidth" th:href="@{view/} + ${genre.genreNameLower} + @{/}"><b>View</b></a>
						</td>
						<td class="crudButtonTdWidth">
							<a class="btn btn-light fsSmall crudButtonWidth" th:href="@{edit/} + ${genre.genreNameLower} + @{/}"><b>Edit</b></a> 
						</td>
						<td class="crudButtonTdWidth">
							<a class="btn btn-light fsSmall crudButtonWidth" th:href="@{delete/} + ${genre.genreId} + @{/}"><b>Delete</b></a>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="row">
		    	<div class="col-3">
		    		<a class="btn btn-light" href="/genres/crud/add/" role="button"><b>Add</b></a>
		    	</div>
		    </div>
		</section>
		<br />
		<footer th:replace="layouts/footer :: footFragment"></footer>
		<br />
	</body>
</html>