<!--/*
    HTML NAV
  */-->

<html lang="en" xmlns:th="Http:thymeleaf.org">
	<body>
		<nav class="navbar navbar-expand-xl navbar-dark" th:fragment="navFragment" style="background-color: #808080;">
			<div class="container-fluid">
			    <div class="navbar-header">
			    	<a href="/home/" class="logo-link">
			    		<img title="Home Page" src="/images/home.jpg" alt="Home" class="navbar-brand" height="35px" width="35px" />
					</a>
			    </div>
			    <ul class="navbar-nav mr-auto">
			    	<li class="navbar-item"><a class="nav-link" title="Largest Building by Floor Area" href="/buildings/floorarea/" Style="color: black"><span>Floor Area</span></a></li>
			    	<li class="navbar-item"><a class="nav-link" title="Largest Building by Footprint" href="/buildings/footprint/" Style="color: black"><span>Footprint</span></a></li>
			    	<li class="navbar-item"><a class="nav-link" title="Largest Building by Volume" href="/buildings/volume/" Style="color: black"><span>Volume</span></a></li>
			    </ul>
			</div>
		</nav>
	</body>
</html>