<!--/*
    HTML NAV
  */-->

<html lang="en" xmlns:th="Http:thymeleaf.org">
	<body>
		<nav class="navbar navbar-expand-xl navbar-dark geryBackGround" th:fragment="navFragment">
			<div class="container-fluid">
			    <div class="navbar-header">
			    	<a href="/home/" class="logo-link">
			    		<img title="Home Page" src="/images/home.jpg" alt="Home" class="navbar-brand bImage"/>
					</a>
			    </div>
			    <ul class="navbar-nav mr-auto">
			    	<li class="navbar-item">
			    		<a class="nav-link" title="Largest Building by Floor Area" href="/buildings/floorarea/">
			    			<span class="text-black">Floor Area</span>
			    		</a>
			    	</li>
			    	<li class="navbar-item">
			    		<a class="nav-link" title="Largest Building by Footprint" href="/buildings/footprint/">
			    			<span class="text-black">Footprint</span>
			    		</a>
			    	</li>
			    	<li class="navbar-item">
			    		<a class="nav-link" title="Largest Building by Volume" href="/buildings/volume/">
			    			<span class="text-black">Volume</span>
			    		</a>
			    	</li>
			    </ul>
			</div>
		</nav>
	</body>
</html>