<!--/*
    HTML NAV
  */-->

<html lang="en" xmlns:th="Http:thymeleaf.org">
	<body>
		<nav class="navbar navbar-expand-sm navbar-dark navImage" th:fragment="navFragment">
			<div class="container-fluid">
			    <div class="navbar-header">
			    	<a href="/" class="logo-link">
			    		<img title="Home Page" src="/images/home.png" alt="Home" class="navbar-brand buttonImage"/>
					</a>
			    </div>
			    <ul class="navbar-nav mr-auto">
			    	<li class="dropdown">
			    		<button class="btn btn-secondary dropdown-toggle text-white blackBackGround" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    						<span>BRMC</span>
    					</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<li><a class="dropdown-item" href="/brmc/bio/">Biography</a></li>
							<li><a class="dropdown-item" href="/brmc/">Images</a></li>
				            <li><a class="dropdown-item" href="/brmc/albums/">Albums</a></li>
				            <li><a class="dropdown-item" href="/brmc/media/">Media</a></li>
				        </ul>
			        </li>
			    	<li class="dropdown">
			    		<button class="btn btn-secondary dropdown-toggle text-white blackBackGround" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    						<span>Pink Floyd</span>
    					</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				            <li><a class="dropdown-item" href="/pinkfloyd/bio/">Biography</a></li>
				            <li><a class="dropdown-item" href="/pinkfloyd/">Images</a></li>
				            <li><a class="dropdown-item" href="/pinkfloyd/albums/">Albums</a></li>
				            <li><a class="dropdown-item" href="/pinkfloyd/media/">Media</a></li>
				        </ul>
			        </li>
			        <li class="dropdown">
			        	<button class="btn btn-secondary dropdown-toggle text-white blackBackGround" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    						<span>Spacemen 3</span>
    					</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				            <li><a class="dropdown-item" href="/spacemen3/bio/">Biography</a></li>
				            <li><a class="dropdown-item" href="/spacemen3/">Images</a></li>
				            <li><a class="dropdown-item" href="/spacemen3/albums/">Albums</a></li>
				            <li><a class="dropdown-item" href="/spacemen3/media/">Media</a></li>
				        </ul>
			        </li>
			        <li class="dropdown">
			        	<button class="btn btn-secondary dropdown-toggle text-white blackBackGround" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    						<span>Various Artists</span>
    					</button>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<li><a class="dropdown-item" href="/variousartists/albums/studio/">Studio Albums</a></li>
				            <li><a class="dropdown-item" href="/variousartists/albums/live/">Live Albums</a></li>
				        </ul>
			        </li>
			    </ul>
			</div>
		</nav>
	</body>
</html>